<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data Keys</key>
	<dict>
		<key>name</key>
		<dict/>
		<key>uid</key>
		<dict/>
		<key>date</key>
		<dict>
			<key>Conversion</key>
			<string>NSDate</string>
		</dict>
		<key>collection</key>
		<dict>
			<key>Relationship</key>
			<string>DMCollection</string>
			<key>Relationship ID Key</key>
			<string>name</string>
		</dict>
	</dict>
</dict>
</plist>
